name: CI - Cypress API

on:
    push:
        branches: ["main"]
    pull_request:

jobs:
    api-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm ci

            - name: Start API
              run: |
                  npm run start &
                  sleep 10

            - name: Run Cypress
              run: npm run cypress:run
              continue-on-error: true
